<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    table tr td {
        border: .5px solid black
    }
</style>
</head>
<body>
   <p><strong>A DYNAMIC MESSAGE SIGN (DMS) ISSUE HAS BEEN REPORTED</strong></p>
    <table style="width:100%">
    <tr>
        <th colspan="2">INTAKE INFO</th>
    </tr>
    <tr>
        <td>Intake CSR:</td>
        <td></td>
    </tr>
    <tr>
        <td>Intake Date/Time:</td>
        <td></td>
    </tr>
    </table>
        <table style="width:100%">
    <tr>
        <th colspan="2">DMS INFO</th>
    </tr>
    <tr>
        <td>Location:</td>
        <td></td>
    </tr>
    <tr>
        <td>Issue:</td>
        <td></td>
    </tr>
    <tr>
        <td>Additional Description:</td>
        <td></td>
    </tr>
    </table>
    <p>IT Service Now Ticket:</p>
    <p>Thank you,</p>
    <p>(name)</p>
    <p>Customer Care Team</p>

</body>
</html>